--
-- PostgreSQL database dump
--

\restrict 57S5Uwq92p6Hikk6CYebXBuEMFA2L8pvPniuMaYwyvvubax9umrIgznD7DFbRBr

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_customuser; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.accounts_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.accounts_customuser OWNER TO rateengine;

--
-- Name: accounts_customuser_groups; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.accounts_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_customuser_groups OWNER TO rateengine;

--
-- Name: accounts_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.accounts_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.accounts_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_user_permissions; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.accounts_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_customuser_user_permissions OWNER TO rateengine;

--
-- Name: accounts_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.accounts_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_organizationmembership; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.accounts_organizationmembership (
    id bigint NOT NULL,
    role character varying(20) NOT NULL,
    can_quote boolean NOT NULL,
    can_view_costs boolean NOT NULL,
    is_primary_contact boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_organizationmembership OWNER TO rateengine;

--
-- Name: accounts_organizationmembership_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.accounts_organizationmembership ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_organizationmembership_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audiences; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.audiences (
    id bigint NOT NULL,
    party_type character varying(32) NOT NULL,
    region character varying(32) NOT NULL,
    settlement character varying(32) NOT NULL,
    code character varying(128) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.audiences OWNER TO rateengine;

--
-- Name: audiences_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.audiences ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audiences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO rateengine;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO rateengine;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO rateengine;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO rateengine;

--
-- Name: cartage_ladders; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.cartage_ladders (
    id bigint NOT NULL,
    min_weight_kg numeric(12,2) NOT NULL,
    max_weight_kg numeric(12,2) NOT NULL,
    rate_per_kg numeric(12,4) NOT NULL,
    min_charge numeric(12,2),
    ratecard_id bigint NOT NULL
);


ALTER TABLE public.cartage_ladders OWNER TO rateengine;

--
-- Name: cartage_ladders_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.cartage_ladders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cartage_ladders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contacts; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.contacts (
    id bigint NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    org_id bigint NOT NULL
);


ALTER TABLE public.contacts OWNER TO rateengine;

--
-- Name: contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.contacts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.contacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: currency_rates; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.currency_rates (
    id bigint NOT NULL,
    as_of_ts timestamp with time zone NOT NULL,
    base_ccy text NOT NULL,
    quote_ccy text NOT NULL,
    rate numeric(18,8) NOT NULL,
    rate_type character varying(8) NOT NULL,
    source text
);


ALTER TABLE public.currency_rates OWNER TO rateengine;

--
-- Name: currency_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.currency_rates ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.currency_rates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO rateengine;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO rateengine;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO rateengine;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO rateengine;

--
-- Name: fee_types; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.fee_types (
    id bigint NOT NULL,
    code text NOT NULL,
    description text NOT NULL,
    basis text NOT NULL,
    default_tax_pct numeric(5,2) NOT NULL
);


ALTER TABLE public.fee_types OWNER TO rateengine;

--
-- Name: fee_types_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.fee_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fee_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lane_breaks; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.lane_breaks (
    id bigint NOT NULL,
    break_code text NOT NULL,
    per_kg numeric(12,4),
    min_charge numeric(12,2),
    lane_id bigint NOT NULL
);


ALTER TABLE public.lane_breaks OWNER TO rateengine;

--
-- Name: lane_breaks_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.lane_breaks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lane_breaks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lanes; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.lanes (
    id bigint NOT NULL,
    airline text,
    is_direct boolean NOT NULL,
    dest_id bigint NOT NULL,
    origin_id bigint NOT NULL,
    via_id bigint,
    ratecard_id bigint NOT NULL
);


ALTER TABLE public.lanes OWNER TO rateengine;

--
-- Name: lanes_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.lanes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lanes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.organizations (
    id bigint NOT NULL,
    name text NOT NULL,
    country_code character varying(2) NOT NULL,
    audience text NOT NULL,
    default_sell_currency text NOT NULL,
    gst_pct numeric(5,2) NOT NULL,
    disbursement_min numeric(12,2),
    disbursement_cap numeric(12,2),
    notes text
);


ALTER TABLE public.organizations OWNER TO rateengine;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.organizations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pricing_policy; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.pricing_policy (
    id bigint NOT NULL,
    audience text NOT NULL,
    gst_applies boolean NOT NULL,
    gst_pct numeric(5,2) NOT NULL,
    caf_buy_pct numeric(5,4) NOT NULL,
    caf_sell_pct numeric(5,4) NOT NULL
);


ALTER TABLE public.pricing_policy OWNER TO rateengine;

--
-- Name: pricing_policy_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.pricing_policy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pricing_policy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: providers; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.providers (
    id bigint NOT NULL,
    name text NOT NULL,
    provider_type text NOT NULL
);


ALTER TABLE public.providers OWNER TO rateengine;

--
-- Name: providers_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.providers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.providers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quote_lines; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.quote_lines (
    id bigint NOT NULL,
    code character varying(64) NOT NULL,
    description text NOT NULL,
    is_buy boolean NOT NULL,
    is_sell boolean NOT NULL,
    qty numeric(12,3) NOT NULL,
    unit character varying(16) NOT NULL,
    unit_price numeric(12,4) NOT NULL,
    extended_price numeric(12,2) NOT NULL,
    currency character varying(3) NOT NULL,
    manual_rate_required boolean NOT NULL,
    quote_id bigint NOT NULL,
    tax_pct numeric(5,2) NOT NULL
);


ALTER TABLE public.quote_lines OWNER TO rateengine;

--
-- Name: quote_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.quote_lines ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quote_lines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quotes; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.quotes (
    id bigint NOT NULL,
    status character varying(32) NOT NULL,
    request_snapshot jsonb NOT NULL,
    buy_total numeric(14,2) NOT NULL,
    sell_total numeric(14,2) NOT NULL,
    currency character varying(3) NOT NULL,
    incoterm character varying(16),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    payment_term character varying(16) NOT NULL
);


ALTER TABLE public.quotes OWNER TO rateengine;

--
-- Name: quotes_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.quotes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ratecard_config; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.ratecard_config (
    id bigint NOT NULL,
    dim_factor_kg_per_m3 numeric(8,2) NOT NULL,
    rate_strategy text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    ratecard_id bigint NOT NULL
);


ALTER TABLE public.ratecard_config OWNER TO rateengine;

--
-- Name: ratecard_config_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.ratecard_config ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ratecard_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ratecard_fees; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.ratecard_fees (
    id bigint NOT NULL,
    currency text NOT NULL,
    amount numeric(12,4) NOT NULL,
    min_amount numeric(12,2),
    max_amount numeric(12,2),
    percent_of_code text,
    per_kg_threshold numeric(12,2),
    applies_if jsonb NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    fee_type_id bigint NOT NULL,
    ratecard_id bigint NOT NULL
);


ALTER TABLE public.ratecard_fees OWNER TO rateengine;

--
-- Name: ratecard_fees_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.ratecard_fees ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ratecard_fees_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ratecards; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.ratecards (
    id bigint NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    scope text NOT NULL,
    direction text NOT NULL,
    commodity_code character varying(8) NOT NULL,
    rate_strategy character varying(32),
    currency text NOT NULL,
    source text NOT NULL,
    status text NOT NULL,
    effective_date date NOT NULL,
    expiry_date date,
    notes text,
    meta jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    provider_id bigint NOT NULL,
    audience_id bigint NOT NULL
);


ALTER TABLE public.ratecards OWNER TO rateengine;

--
-- Name: ratecards_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.ratecards ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ratecards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: route_legs; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.route_legs (
    id bigint NOT NULL,
    sequence integer NOT NULL,
    leg_scope character varying(32) NOT NULL,
    service_type character varying(32) NOT NULL,
    dest_id bigint NOT NULL,
    origin_id bigint NOT NULL,
    route_id bigint NOT NULL,
    CONSTRAINT route_legs_sequence_check CHECK ((sequence >= 0))
);


ALTER TABLE public.route_legs OWNER TO rateengine;

--
-- Name: route_legs_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.route_legs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.route_legs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: routes; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.routes (
    id bigint NOT NULL,
    name text NOT NULL,
    origin_country character varying(2) NOT NULL,
    dest_country character varying(2) NOT NULL,
    shipment_type character varying(16) NOT NULL,
    requires_manual_rate boolean NOT NULL
);


ALTER TABLE public.routes OWNER TO rateengine;

--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.routes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.routes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sell_cost_links_simple; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.sell_cost_links_simple (
    id bigint NOT NULL,
    mapping_type text NOT NULL,
    mapping_value numeric(12,4),
    buy_fee_code text NOT NULL,
    sell_item_id bigint NOT NULL
);


ALTER TABLE public.sell_cost_links_simple OWNER TO rateengine;

--
-- Name: sell_cost_links_simple_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.sell_cost_links_simple ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sell_cost_links_simple_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: service_items; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.service_items (
    id bigint NOT NULL,
    currency text NOT NULL,
    amount numeric(12,4),
    min_amount numeric(12,2),
    max_amount numeric(12,2),
    percent_of_service_code text,
    tax_pct numeric(5,2) NOT NULL,
    item_code text,
    conditions_json jsonb NOT NULL,
    ratecard_id bigint NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public.service_items OWNER TO rateengine;

--
-- Name: service_items_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.service_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.service_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.services (
    id bigint NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    basis text NOT NULL
);


ALTER TABLE public.services OWNER TO rateengine;

--
-- Name: services_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.services ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sites; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.sites (
    id bigint NOT NULL,
    label text NOT NULL,
    address text NOT NULL,
    city text,
    province text,
    country text,
    org_id bigint NOT NULL
);


ALTER TABLE public.sites OWNER TO rateengine;

--
-- Name: sites_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stations; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.stations (
    id bigint NOT NULL,
    iata text NOT NULL,
    city text,
    country text
);


ALTER TABLE public.stations OWNER TO rateengine;

--
-- Name: stations_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.stations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: storage_tiers; Type: TABLE; Schema: public; Owner: rateengine
--

CREATE TABLE public.storage_tiers (
    id bigint NOT NULL,
    group_code text NOT NULL,
    week_from smallint NOT NULL,
    week_to smallint NOT NULL,
    rate_per_kg_per_week numeric(12,4) NOT NULL,
    min_amount numeric(12,2),
    notes text,
    ratecard_id bigint NOT NULL
);


ALTER TABLE public.storage_tiers OWNER TO rateengine;

--
-- Name: storage_tiers_id_seq; Type: SEQUENCE; Schema: public; Owner: rateengine
--

ALTER TABLE public.storage_tiers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.storage_tiers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_groups accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq UNIQUE (customuser_id, group_id);


--
-- Name: accounts_customuser_groups accounts_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser accounts_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser
    ADD CONSTRAINT accounts_customuser_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser_user_customuser_id_permission_9632a709_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser_user_customuser_id_permission_9632a709_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser accounts_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser
    ADD CONSTRAINT accounts_customuser_username_key UNIQUE (username);


--
-- Name: accounts_organizationmembership accounts_organizationmem_user_id_organization_id_f7d58849_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizationmem_user_id_organization_id_f7d58849_uniq UNIQUE (user_id, organization_id);


--
-- Name: accounts_organizationmembership accounts_organizationmembership_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizationmembership_pkey PRIMARY KEY (id);


--
-- Name: audiences audiences_code_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_code_key UNIQUE (code);


--
-- Name: audiences audiences_party_type_region_settlement_6d1e9707_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_party_type_region_settlement_6d1e9707_uniq UNIQUE (party_type, region, settlement);


--
-- Name: audiences audiences_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: cartage_ladders cartage_ladders_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_pkey PRIMARY KEY (id);


--
-- Name: cartage_ladders cartage_ladders_ratecard_id_min_weight_k_c9476118_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_ratecard_id_min_weight_k_c9476118_uniq UNIQUE (ratecard_id, min_weight_kg, max_weight_kg);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: currency_rates currency_rates_as_of_ts_base_ccy_quote__e9634aa3_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.currency_rates
    ADD CONSTRAINT currency_rates_as_of_ts_base_ccy_quote__e9634aa3_uniq UNIQUE (as_of_ts, base_ccy, quote_ccy, rate_type);


--
-- Name: currency_rates currency_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.currency_rates
    ADD CONSTRAINT currency_rates_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: fee_types fee_types_code_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.fee_types
    ADD CONSTRAINT fee_types_code_key UNIQUE (code);


--
-- Name: fee_types fee_types_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.fee_types
    ADD CONSTRAINT fee_types_pkey PRIMARY KEY (id);


--
-- Name: lane_breaks lane_breaks_lane_id_break_code_cf2be652_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lane_breaks
    ADD CONSTRAINT lane_breaks_lane_id_break_code_cf2be652_uniq UNIQUE (lane_id, break_code);


--
-- Name: lane_breaks lane_breaks_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lane_breaks
    ADD CONSTRAINT lane_breaks_pkey PRIMARY KEY (id);


--
-- Name: lanes lanes_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_pkey PRIMARY KEY (id);


--
-- Name: lanes lanes_ratecard_id_origin_id_dest_id_8995c415_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_ratecard_id_origin_id_dest_id_8995c415_uniq UNIQUE (ratecard_id, origin_id, dest_id);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: pricing_policy pricing_policy_audience_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.pricing_policy
    ADD CONSTRAINT pricing_policy_audience_key UNIQUE (audience);


--
-- Name: pricing_policy pricing_policy_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.pricing_policy
    ADD CONSTRAINT pricing_policy_pkey PRIMARY KEY (id);


--
-- Name: providers providers_name_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_name_key UNIQUE (name);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id);


--
-- Name: quote_lines quote_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.quote_lines
    ADD CONSTRAINT quote_lines_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: ratecard_config ratecard_config_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecard_config
    ADD CONSTRAINT ratecard_config_pkey PRIMARY KEY (id);


--
-- Name: ratecard_config ratecard_config_ratecard_id_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecard_config
    ADD CONSTRAINT ratecard_config_ratecard_id_key UNIQUE (ratecard_id);


--
-- Name: ratecard_fees ratecard_fees_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT ratecard_fees_pkey PRIMARY KEY (id);


--
-- Name: ratecards ratecards_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_pkey PRIMARY KEY (id);


--
-- Name: ratecards ratecards_provider_id_name_effective_date_8759f055_uniq; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_provider_id_name_effective_date_8759f055_uniq UNIQUE (provider_id, name, effective_date);


--
-- Name: route_legs route_legs_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_pkey PRIMARY KEY (id);


--
-- Name: routes routes_name_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_name_key UNIQUE (name);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: sell_cost_links_simple sell_cost_links_simple_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.sell_cost_links_simple
    ADD CONSTRAINT sell_cost_links_simple_pkey PRIMARY KEY (id);


--
-- Name: service_items service_items_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT service_items_pkey PRIMARY KEY (id);


--
-- Name: services services_code_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_code_key UNIQUE (code);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: sites sites_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_pkey PRIMARY KEY (id);


--
-- Name: stations stations_iata_key; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_iata_key UNIQUE (iata);


--
-- Name: stations stations_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_pkey PRIMARY KEY (id);


--
-- Name: storage_tiers storage_tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.storage_tiers
    ADD CONSTRAINT storage_tiers_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser_groups_customuser_id_bc55088e; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_customuser_groups_customuser_id_bc55088e ON public.accounts_customuser_groups USING btree (customuser_id);


--
-- Name: accounts_customuser_groups_group_id_86ba5f9e; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_customuser_groups_group_id_86ba5f9e ON public.accounts_customuser_groups USING btree (group_id);


--
-- Name: accounts_customuser_user_permissions_customuser_id_0deaefae; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_customuser_user_permissions_customuser_id_0deaefae ON public.accounts_customuser_user_permissions USING btree (customuser_id);


--
-- Name: accounts_customuser_user_permissions_permission_id_aea3d0e5; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_customuser_user_permissions_permission_id_aea3d0e5 ON public.accounts_customuser_user_permissions USING btree (permission_id);


--
-- Name: accounts_customuser_username_722f3555_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_customuser_username_722f3555_like ON public.accounts_customuser USING btree (username varchar_pattern_ops);


--
-- Name: accounts_organizationmembership_organization_id_c57f0637; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_organizationmembership_organization_id_c57f0637 ON public.accounts_organizationmembership USING btree (organization_id);


--
-- Name: accounts_organizationmembership_user_id_8cbb5f64; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX accounts_organizationmembership_user_id_8cbb5f64 ON public.accounts_organizationmembership USING btree (user_id);


--
-- Name: audiences_code_9b187cc1_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX audiences_code_9b187cc1_like ON public.audiences USING btree (code varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: cartage_ladders_ratecard_id_409eaeb6; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX cartage_ladders_ratecard_id_409eaeb6 ON public.cartage_ladders USING btree (ratecard_id);


--
-- Name: contacts_org_id_0a5f4415; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX contacts_org_id_0a5f4415 ON public.contacts USING btree (org_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: fee_types_code_dae7072e_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX fee_types_code_dae7072e_like ON public.fee_types USING btree (code text_pattern_ops);


--
-- Name: lane_breaks_lane_id_fa735a06; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX lane_breaks_lane_id_fa735a06 ON public.lane_breaks USING btree (lane_id);


--
-- Name: lanes_dest_id_6fdf3c0b; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX lanes_dest_id_6fdf3c0b ON public.lanes USING btree (dest_id);


--
-- Name: lanes_origin_id_3c40ad25; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX lanes_origin_id_3c40ad25 ON public.lanes USING btree (origin_id);


--
-- Name: lanes_ratecard_id_a0794f49; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX lanes_ratecard_id_a0794f49 ON public.lanes USING btree (ratecard_id);


--
-- Name: lanes_via_id_99442200; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX lanes_via_id_99442200 ON public.lanes USING btree (via_id);


--
-- Name: organizations_name_eee39956_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX organizations_name_eee39956_like ON public.organizations USING btree (name text_pattern_ops);


--
-- Name: pricing_policy_audience_4900e6f5_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX pricing_policy_audience_4900e6f5_like ON public.pricing_policy USING btree (audience text_pattern_ops);


--
-- Name: providers_name_fc4e5258_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX providers_name_fc4e5258_like ON public.providers USING btree (name text_pattern_ops);


--
-- Name: quote_lines_quote_id_aa56ec07; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX quote_lines_quote_id_aa56ec07 ON public.quote_lines USING btree (quote_id);


--
-- Name: quotes_organization_id_64226bf9; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX quotes_organization_id_64226bf9 ON public.quotes USING btree (organization_id);


--
-- Name: ratecard_fees_fee_type_id_67bc297d; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX ratecard_fees_fee_type_id_67bc297d ON public.ratecard_fees USING btree (fee_type_id);


--
-- Name: ratecard_fees_ratecard_id_c1ca33a3; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX ratecard_fees_ratecard_id_c1ca33a3 ON public.ratecard_fees USING btree (ratecard_id);


--
-- Name: ratecards_audience_id_c3f9821a; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX ratecards_audience_id_c3f9821a ON public.ratecards USING btree (audience_id);


--
-- Name: ratecards_provider_id_997017fc; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX ratecards_provider_id_997017fc ON public.ratecards USING btree (provider_id);


--
-- Name: route_legs_dest_id_cba146c8; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX route_legs_dest_id_cba146c8 ON public.route_legs USING btree (dest_id);


--
-- Name: route_legs_origin_id_abcde6cc; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX route_legs_origin_id_abcde6cc ON public.route_legs USING btree (origin_id);


--
-- Name: route_legs_route_id_6491beab; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX route_legs_route_id_6491beab ON public.route_legs USING btree (route_id);


--
-- Name: routes_name_29004274_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX routes_name_29004274_like ON public.routes USING btree (name text_pattern_ops);


--
-- Name: sell_cost_links_simple_buy_fee_code_282c5a83; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX sell_cost_links_simple_buy_fee_code_282c5a83 ON public.sell_cost_links_simple USING btree (buy_fee_code);


--
-- Name: sell_cost_links_simple_buy_fee_code_282c5a83_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX sell_cost_links_simple_buy_fee_code_282c5a83_like ON public.sell_cost_links_simple USING btree (buy_fee_code text_pattern_ops);


--
-- Name: sell_cost_links_simple_sell_item_id_446401f0; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX sell_cost_links_simple_sell_item_id_446401f0 ON public.sell_cost_links_simple USING btree (sell_item_id);


--
-- Name: service_items_ratecard_id_4cb20b39; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX service_items_ratecard_id_4cb20b39 ON public.service_items USING btree (ratecard_id);


--
-- Name: service_items_service_id_46e0f53b; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX service_items_service_id_46e0f53b ON public.service_items USING btree (service_id);


--
-- Name: services_code_13d46a1e_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX services_code_13d46a1e_like ON public.services USING btree (code text_pattern_ops);


--
-- Name: sites_org_id_2aa31d45; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX sites_org_id_2aa31d45 ON public.sites USING btree (org_id);


--
-- Name: stations_iata_561c2528_like; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX stations_iata_561c2528_like ON public.stations USING btree (iata text_pattern_ops);


--
-- Name: storage_tiers_ratecard_id_488ccdad; Type: INDEX; Schema: public; Owner: rateengine
--

CREATE INDEX storage_tiers_ratecard_id_488ccdad ON public.storage_tiers USING btree (ratecard_id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser__customuser_id_0deaefae_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser__customuser_id_0deaefae_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_groups accounts_customuser__customuser_id_bc55088e_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser__customuser_id_bc55088e_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_user_permissions accounts_customuser__permission_id_aea3d0e5_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser__permission_id_aea3d0e5_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_groups accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_organizationmembership accounts_organizatio_organization_id_c57f0637_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizatio_organization_id_c57f0637_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_organizationmembership accounts_organizatio_user_id_8cbb5f64_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizatio_user_id_8cbb5f64_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_accounts_customuser_id FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cartage_ladders cartage_ladders_ratecard_id_409eaeb6_fk_ratecards_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_ratecard_id_409eaeb6_fk_ratecards_id FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: contacts contacts_org_id_0a5f4415_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_org_id_0a5f4415_fk_organizations_id FOREIGN KEY (org_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_customuser_id FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lane_breaks lane_breaks_lane_id_fa735a06_fk_lanes_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lane_breaks
    ADD CONSTRAINT lane_breaks_lane_id_fa735a06_fk_lanes_id FOREIGN KEY (lane_id) REFERENCES public.lanes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lanes lanes_dest_id_6fdf3c0b_fk_stations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_dest_id_6fdf3c0b_fk_stations_id FOREIGN KEY (dest_id) REFERENCES public.stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lanes lanes_origin_id_3c40ad25_fk_stations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_origin_id_3c40ad25_fk_stations_id FOREIGN KEY (origin_id) REFERENCES public.stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lanes lanes_ratecard_id_a0794f49_fk_ratecards_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_ratecard_id_a0794f49_fk_ratecards_id FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lanes lanes_via_id_99442200_fk_stations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_via_id_99442200_fk_stations_id FOREIGN KEY (via_id) REFERENCES public.stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quote_lines quote_lines_quote_id_aa56ec07_fk_quotes_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.quote_lines
    ADD CONSTRAINT quote_lines_quote_id_aa56ec07_fk_quotes_id FOREIGN KEY (quote_id) REFERENCES public.quotes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quotes quotes_organization_id_64226bf9_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_organization_id_64226bf9_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecard_config ratecard_config_ratecard_id_c05c348d_fk_ratecards_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecard_config
    ADD CONSTRAINT ratecard_config_ratecard_id_c05c348d_fk_ratecards_id FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecard_fees ratecard_fees_fee_type_id_67bc297d_fk_fee_types_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT ratecard_fees_fee_type_id_67bc297d_fk_fee_types_id FOREIGN KEY (fee_type_id) REFERENCES public.fee_types(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecard_fees ratecard_fees_ratecard_id_c1ca33a3_fk_ratecards_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT ratecard_fees_ratecard_id_c1ca33a3_fk_ratecards_id FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecards ratecards_audience_id_c3f9821a_fk_audiences_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_audience_id_c3f9821a_fk_audiences_id FOREIGN KEY (audience_id) REFERENCES public.audiences(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecards ratecards_provider_id_997017fc_fk_providers_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_provider_id_997017fc_fk_providers_id FOREIGN KEY (provider_id) REFERENCES public.providers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: route_legs route_legs_dest_id_cba146c8_fk_stations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_dest_id_cba146c8_fk_stations_id FOREIGN KEY (dest_id) REFERENCES public.stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: route_legs route_legs_origin_id_abcde6cc_fk_stations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_origin_id_abcde6cc_fk_stations_id FOREIGN KEY (origin_id) REFERENCES public.stations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: route_legs route_legs_route_id_6491beab_fk_routes_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_route_id_6491beab_fk_routes_id FOREIGN KEY (route_id) REFERENCES public.routes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sell_cost_links_simple sell_cost_links_simp_sell_item_id_446401f0_fk_service_i; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.sell_cost_links_simple
    ADD CONSTRAINT sell_cost_links_simp_sell_item_id_446401f0_fk_service_i FOREIGN KEY (sell_item_id) REFERENCES public.service_items(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sell_cost_links_simple sell_cost_links_simple_buy_fee_code_282c5a83_fk_fee_types_code; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.sell_cost_links_simple
    ADD CONSTRAINT sell_cost_links_simple_buy_fee_code_282c5a83_fk_fee_types_code FOREIGN KEY (buy_fee_code) REFERENCES public.fee_types(code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: service_items service_items_ratecard_id_4cb20b39_fk_ratecards_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT service_items_ratecard_id_4cb20b39_fk_ratecards_id FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: service_items service_items_service_id_46e0f53b_fk_services_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT service_items_service_id_46e0f53b_fk_services_id FOREIGN KEY (service_id) REFERENCES public.services(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sites sites_org_id_2aa31d45_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_org_id_2aa31d45_fk_organizations_id FOREIGN KEY (org_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: storage_tiers storage_tiers_ratecard_id_488ccdad_fk_ratecards_id; Type: FK CONSTRAINT; Schema: public; Owner: rateengine
--

ALTER TABLE ONLY public.storage_tiers
    ADD CONSTRAINT storage_tiers_ratecard_id_488ccdad_fk_ratecards_id FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 57S5Uwq92p6Hikk6CYebXBuEMFA2L8pvPniuMaYwyvvubax9umrIgznD7DFbRBr

