--
-- PostgreSQL database dump
--

\restrict CQw4vVdLXmHhkDUUHF6VTCBQ5fcQhVA9bKuI3wx92i7QWyXWGhPugf0OUUsKFFI

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: audit_ratecards_fn(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.audit_ratecards_fn() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    INSERT INTO rate_audit(table_name, row_pk, action, diff)
    VALUES ('ratecards', NEW.id::text, 'INSERT', to_jsonb(NEW));
    RETURN NEW;
  ELSIF TG_OP = 'UPDATE' THEN
    INSERT INTO rate_audit(table_name, row_pk, action, diff)
    VALUES ('ratecards', NEW.id::text, 'UPDATE', jsonb_build_object('old', to_jsonb(OLD), 'new', to_jsonb(NEW)));
    RETURN NEW;
  ELSIF TG_OP = 'DELETE' THEN
    INSERT INTO rate_audit(table_name, row_pk, action, diff)
    VALUES ('ratecards', OLD.id::text, 'DELETE', to_jsonb(OLD));
    RETURN OLD;
  END IF;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_customuser; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL
);


--
-- Name: accounts_customuser_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: accounts_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.accounts_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.accounts_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: accounts_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.accounts_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_organizationmembership; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts_organizationmembership (
    id bigint NOT NULL,
    role character varying(20) NOT NULL,
    can_quote boolean NOT NULL,
    can_view_costs boolean NOT NULL,
    is_primary_contact boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: accounts_organizationmembership_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.accounts_organizationmembership ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_organizationmembership_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audiences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audiences (
    id bigint NOT NULL,
    party_type character varying(32) NOT NULL,
    region character varying(32) NOT NULL,
    settlement character varying(32) NOT NULL,
    code character varying(128) NOT NULL,
    is_active boolean NOT NULL
);


--
-- Name: audiences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.audiences ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audiences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: cartage_ladders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cartage_ladders (
    id bigint NOT NULL,
    ratecard_id bigint NOT NULL,
    min_weight_kg numeric(12,2) NOT NULL,
    max_weight_kg numeric(12,2) NOT NULL,
    rate_per_kg numeric(12,4) NOT NULL,
    min_charge numeric(12,2),
    CONSTRAINT cartage_ladders_check CHECK ((max_weight_kg > min_weight_kg))
);


--
-- Name: cartage_ladders_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cartage_ladders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cartage_ladders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cartage_ladders_id_seq OWNED BY public.cartage_ladders.id;


--
-- Name: contacts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contacts (
    id bigint NOT NULL,
    org_id bigint NOT NULL,
    name text NOT NULL,
    email text,
    phone text
);


--
-- Name: contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.contacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.contacts_id_seq OWNED BY public.contacts.id;


--
-- Name: currencies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.currencies (
    code character(3) NOT NULL,
    name text,
    is_active boolean DEFAULT true NOT NULL
);


--
-- Name: currency_rates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.currency_rates (
    id bigint NOT NULL,
    as_of_ts timestamp with time zone NOT NULL,
    base_ccy text NOT NULL,
    quote_ccy text NOT NULL,
    rate numeric(18,8) NOT NULL,
    source text,
    rate_type character varying(8) DEFAULT 'BUY'::character varying NOT NULL
);


--
-- Name: currency_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.currency_rates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: currency_rates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.currency_rates_id_seq OWNED BY public.currency_rates.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: fee_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fee_types (
    id bigint NOT NULL,
    code text NOT NULL,
    description text NOT NULL,
    basis text NOT NULL,
    default_tax_pct numeric(5,2) DEFAULT 0 NOT NULL,
    CONSTRAINT fee_types_basis_check CHECK ((basis = ANY (ARRAY['PER_SHIPMENT'::text, 'PER_AWB'::text, 'PER_KG'::text, 'PER_PALLET'::text, 'PER_PAGE'::text, 'PERCENT_OF'::text, 'PER_SET'::text, 'PER_TRANSFER'::text])))
);


--
-- Name: fee_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.fee_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: fee_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.fee_types_id_seq OWNED BY public.fee_types.id;


--
-- Name: lane_breaks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lane_breaks (
    id bigint NOT NULL,
    lane_id bigint NOT NULL,
    break_code text NOT NULL,
    per_kg numeric(12,4),
    min_charge numeric(12,2),
    CONSTRAINT lane_breaks_check CHECK (((break_code <> 'MIN'::text) OR (min_charge IS NOT NULL))),
    CONSTRAINT lane_breaks_check1 CHECK (((break_code = 'MIN'::text) OR (per_kg IS NOT NULL)))
);


--
-- Name: lane_breaks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.lane_breaks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: lane_breaks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.lane_breaks_id_seq OWNED BY public.lane_breaks.id;


--
-- Name: lanes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lanes (
    id bigint NOT NULL,
    ratecard_id bigint NOT NULL,
    origin_id bigint NOT NULL,
    dest_id bigint NOT NULL,
    via_id bigint,
    airline text,
    is_direct boolean DEFAULT true NOT NULL
);


--
-- Name: lanes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.lanes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: lanes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.lanes_id_seq OWNED BY public.lanes.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organizations (
    id bigint NOT NULL,
    name text NOT NULL,
    default_sell_currency text NOT NULL,
    gst_pct numeric(5,2) DEFAULT 10 NOT NULL,
    disbursement_min numeric(12,2) DEFAULT 0,
    disbursement_cap numeric(12,2),
    notes text,
    country_code character(2) DEFAULT 'PG'::bpchar,
    audience_id bigint
);


--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: pricing_policy; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_policy (
    id bigint NOT NULL,
    gst_applies boolean DEFAULT true NOT NULL,
    gst_pct numeric(5,2) DEFAULT 10 NOT NULL,
    caf_buy_pct numeric(5,4) NOT NULL,
    caf_sell_pct numeric(5,4) NOT NULL,
    audience_id bigint
);


--
-- Name: pricing_policy_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_policy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_policy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_policy_id_seq OWNED BY public.pricing_policy.id;


--
-- Name: providers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.providers (
    id bigint NOT NULL,
    name text NOT NULL,
    provider_type text NOT NULL,
    CONSTRAINT providers_provider_type_check CHECK ((provider_type = ANY (ARRAY['CARRIER'::text, 'AGENT'::text, 'BRANCH'::text])))
);


--
-- Name: providers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.providers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: providers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.providers_id_seq OWNED BY public.providers.id;


--
-- Name: quote_lines; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quote_lines (
    id bigint NOT NULL,
    code character varying(64) NOT NULL,
    description text NOT NULL,
    is_buy boolean NOT NULL,
    is_sell boolean NOT NULL,
    qty numeric(12,3) NOT NULL,
    unit character varying(16) NOT NULL,
    unit_price numeric(18,4) NOT NULL,
    extended_price numeric(18,2) NOT NULL,
    currency character varying(3) NOT NULL,
    manual_rate_required boolean NOT NULL,
    quote_id bigint NOT NULL,
    tax_pct numeric(5,2) NOT NULL,
    side text DEFAULT 'SELL'::text,
    CONSTRAINT quote_lines_side_check CHECK ((side = ANY (ARRAY['BUY'::text, 'SELL'::text])))
);


--
-- Name: quote_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quote_lines ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quote_lines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quote_lines_v2; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quote_lines_v2 (
    id bigint NOT NULL,
    quote_id bigint NOT NULL,
    code character varying(64) NOT NULL,
    description text NOT NULL,
    is_buy boolean NOT NULL,
    is_sell boolean NOT NULL,
    qty numeric(12,3) NOT NULL,
    unit character varying(16) NOT NULL,
    unit_price numeric(12,4) NOT NULL,
    extended_price numeric(12,2) NOT NULL,
    currency character varying(3) NOT NULL,
    manual_rate_required boolean NOT NULL
);


--
-- Name: quote_lines_v2_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quote_lines_v2 ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quote_lines_v2_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quote_totals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quote_totals (
    id bigint NOT NULL,
    quote_id uuid NOT NULL,
    buy_total numeric(14,2) DEFAULT 0 NOT NULL,
    sell_total numeric(14,2) DEFAULT 0 NOT NULL,
    tax_total numeric(14,2) DEFAULT 0 NOT NULL,
    margin_abs numeric(14,2) DEFAULT 0 NOT NULL,
    margin_pct numeric(7,3) DEFAULT 0 NOT NULL
);


--
-- Name: quote_totals_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.quote_totals_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: quote_totals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.quote_totals_id_seq OWNED BY public.quote_totals.id;


--
-- Name: quotes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quotes (
    id bigint NOT NULL,
    status character varying(32) NOT NULL,
    request_snapshot jsonb NOT NULL,
    buy_total numeric(14,2) NOT NULL,
    sell_total numeric(14,2) NOT NULL,
    currency character varying(3) NOT NULL,
    incoterm character varying(16),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    payment_term character varying(16) NOT NULL,
    is_incomplete boolean DEFAULT false NOT NULL,
    incomplete_reason text
);


--
-- Name: quotes_client; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quotes_client (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(50) NOT NULL,
    org_type character varying(32) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: quotes_client_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quotes_client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quotes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quotes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quotes_quote; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quotes_quote (
    id bigint NOT NULL,
    origin character varying(8) NOT NULL,
    destination character varying(8) NOT NULL,
    mode character varying(16) NOT NULL,
    actual_weight_kg numeric(10,2) NOT NULL,
    volume_cbm numeric(10,3) NOT NULL,
    chargeable_weight_kg numeric(10,2) NOT NULL,
    rate_used_per_kg numeric(10,2) NOT NULL,
    base_cost numeric(12,2) NOT NULL,
    margin_pct numeric(5,2) NOT NULL,
    total_sell numeric(12,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    client_id bigint NOT NULL
);


--
-- Name: quotes_quote_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quotes_quote ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_quote_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quotes_ratecard; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quotes_ratecard (
    id bigint NOT NULL,
    origin character varying(8) NOT NULL,
    destination character varying(8) NOT NULL,
    min_charge numeric(10,2) NOT NULL,
    brk_45 numeric(10,2) NOT NULL,
    brk_100 numeric(10,2) NOT NULL,
    brk_250 numeric(10,2) NOT NULL,
    brk_500 numeric(10,2) NOT NULL,
    brk_1000 numeric(10,2) NOT NULL,
    caf_pct numeric(5,2) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: quotes_ratecard_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quotes_ratecard ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_ratecard_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quotes_shipmentpiece; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quotes_shipmentpiece (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    length_cm numeric(10,2) NOT NULL,
    width_cm numeric(10,2) NOT NULL,
    height_cm numeric(10,2) NOT NULL,
    weight_kg numeric(10,2) NOT NULL,
    quote_id bigint NOT NULL,
    CONSTRAINT quotes_shipmentpiece_quantity_check CHECK ((quantity >= 0))
);


--
-- Name: quotes_shipmentpiece_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quotes_shipmentpiece ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_shipmentpiece_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quotes_v2; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quotes_v2 (
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    status character varying(32) NOT NULL,
    request_snapshot jsonb NOT NULL,
    buy_total numeric(14,2) NOT NULL,
    sell_total numeric(14,2) NOT NULL,
    currency character varying(3) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: quotes_v2_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.quotes_v2 ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quotes_v2_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rate_audit; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rate_audit (
    id bigint NOT NULL,
    table_name text NOT NULL,
    row_pk text NOT NULL,
    action text NOT NULL,
    changed_at timestamp with time zone DEFAULT now() NOT NULL,
    changed_by text,
    diff jsonb
);


--
-- Name: rate_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.rate_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rate_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.rate_audit_id_seq OWNED BY public.rate_audit.id;


--
-- Name: ratecard_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ratecard_config (
    id bigint NOT NULL,
    ratecard_id bigint NOT NULL,
    dim_factor_kg_per_m3 numeric(8,2) DEFAULT 167.00 NOT NULL,
    rate_strategy text DEFAULT 'IATA_BREAKS'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ratecard_config_rate_strategy_check CHECK ((rate_strategy = ANY (ARRAY['IATA_BREAKS'::text, 'FLAT_PER_KG'::text])))
);


--
-- Name: ratecard_config_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ratecard_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ratecard_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ratecard_config_id_seq OWNED BY public.ratecard_config.id;


--
-- Name: ratecard_fees; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ratecard_fees (
    id bigint NOT NULL,
    ratecard_id bigint NOT NULL,
    fee_type_id bigint NOT NULL,
    currency text NOT NULL,
    amount numeric(12,4) DEFAULT 0 NOT NULL,
    min_amount numeric(12,2),
    max_amount numeric(12,2),
    percent_of_code text,
    per_kg_threshold numeric(12,2),
    applies_if jsonb DEFAULT '{}'::jsonb NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_applies_if_has_kind CHECK ((applies_if ? 'kind'::text))
);


--
-- Name: ratecard_fees_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ratecard_fees_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ratecard_fees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ratecard_fees_id_seq OWNED BY public.ratecard_fees.id;


--
-- Name: ratecards; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ratecards (
    id bigint NOT NULL,
    provider_id bigint NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    scope text NOT NULL,
    direction text NOT NULL,
    currency text NOT NULL,
    source text DEFAULT 'CATALOG'::text NOT NULL,
    status text DEFAULT 'PUBLISHED'::text NOT NULL,
    effective_date date NOT NULL,
    expiry_date date,
    notes text,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    commodity_code character varying(8) DEFAULT 'GCR'::character varying,
    rate_strategy character varying(32) DEFAULT 'BREAKS'::character varying,
    audience_id bigint NOT NULL,
    CONSTRAINT ratecards_direction_check CHECK ((direction = ANY (ARRAY['EXPORT'::text, 'IMPORT'::text]))),
    CONSTRAINT ratecards_role_check CHECK ((role = ANY (ARRAY['BUY'::text, 'SELL'::text]))),
    CONSTRAINT ratecards_scope_check CHECK ((scope = ANY (ARRAY['INTERNATIONAL'::text, 'DOMESTIC'::text]))),
    CONSTRAINT ratecards_source_check CHECK ((source = ANY (ARRAY['CATALOG'::text, 'ADHOC'::text]))),
    CONSTRAINT ratecards_status_check CHECK ((status = ANY (ARRAY['DRAFT'::text, 'PUBLISHED'::text, 'RETIRED'::text])))
);


--
-- Name: ratecards_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ratecards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ratecards_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ratecards_id_seq OWNED BY public.ratecards.id;


--
-- Name: route_legs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.route_legs (
    id bigint NOT NULL,
    route_id integer NOT NULL,
    sequence integer NOT NULL,
    origin_id integer NOT NULL,
    dest_id integer NOT NULL,
    leg_scope character varying(32) NOT NULL,
    service_type character varying(32) NOT NULL
);


--
-- Name: route_legs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.route_legs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: route_legs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.route_legs_id_seq OWNED BY public.route_legs.id;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.routes (
    id bigint NOT NULL,
    name text,
    origin_country character(2) NOT NULL,
    dest_country character(2) NOT NULL,
    shipment_type character varying(16) NOT NULL,
    requires_manual_rate boolean DEFAULT false
);


--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.routes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: sell_cost_links_simple; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sell_cost_links_simple (
    id bigint NOT NULL,
    sell_item_id bigint NOT NULL,
    buy_fee_code text NOT NULL,
    mapping_type text NOT NULL,
    mapping_value numeric(12,4),
    CONSTRAINT sell_cost_links_simple_mapping_type_check CHECK ((mapping_type = ANY (ARRAY['PASS_THROUGH'::text, 'FIXED_OVERRIDE'::text, 'COST_PLUS_PCT'::text, 'COST_PLUS_ABS'::text])))
);


--
-- Name: sell_cost_links_simple_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sell_cost_links_simple_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sell_cost_links_simple_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sell_cost_links_simple_id_seq OWNED BY public.sell_cost_links_simple.id;


--
-- Name: service_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.service_items (
    id bigint NOT NULL,
    ratecard_id bigint NOT NULL,
    service_id bigint NOT NULL,
    currency text NOT NULL,
    amount numeric(12,4),
    min_amount numeric(12,2),
    max_amount numeric(12,2),
    percent_of_service_code text,
    tax_pct numeric(5,2) DEFAULT 0 NOT NULL,
    item_code text,
    conditions_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    CONSTRAINT chk_conditions_has_kind CHECK ((conditions_json ? 'kind'::text))
);


--
-- Name: service_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.service_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: service_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.service_items_id_seq OWNED BY public.service_items.id;


--
-- Name: services; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.services (
    id bigint NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    basis text NOT NULL,
    CONSTRAINT services_basis_check CHECK ((basis = ANY (ARRAY['PER_SHIPMENT'::text, 'PER_AWB'::text, 'PER_KG'::text, 'PERCENT_OF'::text, 'PER_PAGE'::text, 'PER_PALLET'::text, 'PER_SET'::text])))
);


--
-- Name: services_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.services_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.services_id_seq OWNED BY public.services.id;


--
-- Name: sites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sites (
    id bigint NOT NULL,
    org_id bigint NOT NULL,
    label text NOT NULL,
    address text NOT NULL,
    city text,
    province text,
    country text
);


--
-- Name: sites_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sites_id_seq OWNED BY public.sites.id;


--
-- Name: stations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stations (
    id bigint NOT NULL,
    iata text NOT NULL,
    city text,
    country text,
    CONSTRAINT chk_stations_iata_len CHECK ((length(iata) = 3))
);


--
-- Name: stations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.stations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.stations_id_seq OWNED BY public.stations.id;


--
-- Name: storage_tiers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.storage_tiers (
    id bigint NOT NULL,
    ratecard_id bigint NOT NULL,
    group_code text NOT NULL,
    week_from smallint NOT NULL,
    week_to smallint NOT NULL,
    rate_per_kg_per_week numeric(12,4) NOT NULL,
    min_amount numeric(12,2),
    notes text,
    CONSTRAINT storage_tiers_check CHECK ((week_to >= week_from))
);


--
-- Name: storage_tiers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.storage_tiers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: storage_tiers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.storage_tiers_id_seq OWNED BY public.storage_tiers.id;


--
-- Name: units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.units (
    code text NOT NULL,
    label text
);


--
-- Name: cartage_ladders id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartage_ladders ALTER COLUMN id SET DEFAULT nextval('public.cartage_ladders_id_seq'::regclass);


--
-- Name: contacts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contacts ALTER COLUMN id SET DEFAULT nextval('public.contacts_id_seq'::regclass);


--
-- Name: currency_rates id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.currency_rates ALTER COLUMN id SET DEFAULT nextval('public.currency_rates_id_seq'::regclass);


--
-- Name: fee_types id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fee_types ALTER COLUMN id SET DEFAULT nextval('public.fee_types_id_seq'::regclass);


--
-- Name: lane_breaks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lane_breaks ALTER COLUMN id SET DEFAULT nextval('public.lane_breaks_id_seq'::regclass);


--
-- Name: lanes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lanes ALTER COLUMN id SET DEFAULT nextval('public.lanes_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: pricing_policy id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_policy ALTER COLUMN id SET DEFAULT nextval('public.pricing_policy_id_seq'::regclass);


--
-- Name: providers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers ALTER COLUMN id SET DEFAULT nextval('public.providers_id_seq'::regclass);


--
-- Name: quote_totals id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_totals ALTER COLUMN id SET DEFAULT nextval('public.quote_totals_id_seq'::regclass);


--
-- Name: rate_audit id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rate_audit ALTER COLUMN id SET DEFAULT nextval('public.rate_audit_id_seq'::regclass);


--
-- Name: ratecard_config id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_config ALTER COLUMN id SET DEFAULT nextval('public.ratecard_config_id_seq'::regclass);


--
-- Name: ratecard_fees id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_fees ALTER COLUMN id SET DEFAULT nextval('public.ratecard_fees_id_seq'::regclass);


--
-- Name: ratecards id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecards ALTER COLUMN id SET DEFAULT nextval('public.ratecards_id_seq'::regclass);


--
-- Name: route_legs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.route_legs ALTER COLUMN id SET DEFAULT nextval('public.route_legs_id_seq'::regclass);


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.routes ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);


--
-- Name: sell_cost_links_simple id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sell_cost_links_simple ALTER COLUMN id SET DEFAULT nextval('public.sell_cost_links_simple_id_seq'::regclass);


--
-- Name: service_items id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_items ALTER COLUMN id SET DEFAULT nextval('public.service_items_id_seq'::regclass);


--
-- Name: services id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.services ALTER COLUMN id SET DEFAULT nextval('public.services_id_seq'::regclass);


--
-- Name: sites id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sites ALTER COLUMN id SET DEFAULT nextval('public.sites_id_seq'::regclass);


--
-- Name: stations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stations ALTER COLUMN id SET DEFAULT nextval('public.stations_id_seq'::regclass);


--
-- Name: storage_tiers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.storage_tiers ALTER COLUMN id SET DEFAULT nextval('public.storage_tiers_id_seq'::regclass);


--
-- Name: accounts_customuser_groups accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq UNIQUE (customuser_id, group_id);


--
-- Name: accounts_customuser_groups accounts_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser accounts_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser
    ADD CONSTRAINT accounts_customuser_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser_user_customuser_id_permission_9632a709_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser_user_customuser_id_permission_9632a709_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser accounts_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser
    ADD CONSTRAINT accounts_customuser_username_key UNIQUE (username);


--
-- Name: accounts_organizationmembership accounts_organizationmem_user_id_organization_id_f7d58849_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizationmem_user_id_organization_id_f7d58849_uniq UNIQUE (user_id, organization_id);


--
-- Name: accounts_organizationmembership accounts_organizationmembership_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizationmembership_pkey PRIMARY KEY (id);


--
-- Name: audiences audiences_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_code_key UNIQUE (code);


--
-- Name: audiences audiences_party_type_region_settlement_6d1e9707_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_party_type_region_settlement_6d1e9707_uniq UNIQUE (party_type, region, settlement);


--
-- Name: audiences audiences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audiences
    ADD CONSTRAINT audiences_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: cartage_ladders cartage_ladders_no_overlap; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_no_overlap EXCLUDE USING gist (ratecard_id WITH =, numrange(min_weight_kg, max_weight_kg, '[]'::text) WITH &&);


--
-- Name: cartage_ladders cartage_ladders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_pkey PRIMARY KEY (id);


--
-- Name: cartage_ladders cartage_ladders_ratecard_id_min_weight_kg_max_weight_kg_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_ratecard_id_min_weight_kg_max_weight_kg_key UNIQUE (ratecard_id, min_weight_kg, max_weight_kg);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: currencies currencies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.currencies
    ADD CONSTRAINT currencies_pkey PRIMARY KEY (code);


--
-- Name: currency_rates currency_rates_as_of_ts_base_ccy_quote_ccy_rate_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.currency_rates
    ADD CONSTRAINT currency_rates_as_of_ts_base_ccy_quote_ccy_rate_type_key UNIQUE (as_of_ts, base_ccy, quote_ccy, rate_type);


--
-- Name: currency_rates currency_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.currency_rates
    ADD CONSTRAINT currency_rates_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: fee_types fee_types_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fee_types
    ADD CONSTRAINT fee_types_code_key UNIQUE (code);


--
-- Name: fee_types fee_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fee_types
    ADD CONSTRAINT fee_types_pkey PRIMARY KEY (id);


--
-- Name: lane_breaks lane_breaks_lane_id_break_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lane_breaks
    ADD CONSTRAINT lane_breaks_lane_id_break_code_key UNIQUE (lane_id, break_code);


--
-- Name: lane_breaks lane_breaks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lane_breaks
    ADD CONSTRAINT lane_breaks_pkey PRIMARY KEY (id);


--
-- Name: lanes lanes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: pricing_policy pricing_policy_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_policy
    ADD CONSTRAINT pricing_policy_pkey PRIMARY KEY (id);


--
-- Name: providers providers_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_name_key UNIQUE (name);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id);


--
-- Name: quote_lines quote_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_lines
    ADD CONSTRAINT quote_lines_pkey PRIMARY KEY (id);


--
-- Name: quote_lines_v2 quote_lines_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_lines_v2
    ADD CONSTRAINT quote_lines_v2_pkey PRIMARY KEY (id);


--
-- Name: quote_totals quote_totals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_totals
    ADD CONSTRAINT quote_totals_pkey PRIMARY KEY (id);


--
-- Name: quote_totals quote_totals_quote_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_totals
    ADD CONSTRAINT quote_totals_quote_id_key UNIQUE (quote_id);


--
-- Name: quotes_client quotes_client_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_client
    ADD CONSTRAINT quotes_client_name_key UNIQUE (name);


--
-- Name: quotes_client quotes_client_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_client
    ADD CONSTRAINT quotes_client_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: quotes_quote quotes_quote_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_quote
    ADD CONSTRAINT quotes_quote_pkey PRIMARY KEY (id);


--
-- Name: quotes_ratecard quotes_ratecard_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_ratecard
    ADD CONSTRAINT quotes_ratecard_pkey PRIMARY KEY (id);


--
-- Name: quotes_shipmentpiece quotes_shipmentpiece_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_shipmentpiece
    ADD CONSTRAINT quotes_shipmentpiece_pkey PRIMARY KEY (id);


--
-- Name: quotes_v2 quotes_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_v2
    ADD CONSTRAINT quotes_v2_pkey PRIMARY KEY (id);


--
-- Name: rate_audit rate_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rate_audit
    ADD CONSTRAINT rate_audit_pkey PRIMARY KEY (id);


--
-- Name: ratecard_config ratecard_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_config
    ADD CONSTRAINT ratecard_config_pkey PRIMARY KEY (id);


--
-- Name: ratecard_config ratecard_config_ratecard_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_config
    ADD CONSTRAINT ratecard_config_ratecard_id_key UNIQUE (ratecard_id);


--
-- Name: ratecard_fees ratecard_fees_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT ratecard_fees_pkey PRIMARY KEY (id);


--
-- Name: ratecards ratecards_no_overlap; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_no_overlap EXCLUDE USING gist (provider_id WITH =, audience_id WITH =, name WITH =, daterange(effective_date, COALESCE(expiry_date, '9999-12-31'::date)) WITH &&);


--
-- Name: ratecards ratecards_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_pkey PRIMARY KEY (id);


--
-- Name: ratecards ratecards_provider_id_name_effective_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_provider_id_name_effective_date_key UNIQUE (provider_id, name, effective_date);


--
-- Name: route_legs route_legs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_pkey PRIMARY KEY (id);


--
-- Name: route_legs route_legs_route_id_sequence_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_route_id_sequence_uniq UNIQUE (route_id, sequence);


--
-- Name: routes routes_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_name_key UNIQUE (name);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: sell_cost_links_simple sell_cost_links_simple_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sell_cost_links_simple
    ADD CONSTRAINT sell_cost_links_simple_pkey PRIMARY KEY (id);


--
-- Name: service_items service_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT service_items_pkey PRIMARY KEY (id);


--
-- Name: services services_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_code_key UNIQUE (code);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: sites sites_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_pkey PRIMARY KEY (id);


--
-- Name: stations stations_iata_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_iata_key UNIQUE (iata);


--
-- Name: stations stations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_pkey PRIMARY KEY (id);


--
-- Name: storage_tiers storage_tiers_no_overlap; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.storage_tiers
    ADD CONSTRAINT storage_tiers_no_overlap EXCLUDE USING gist (ratecard_id WITH =, group_code WITH =, int4range((week_from)::integer, (week_to)::integer, '[]'::text) WITH &&);


--
-- Name: storage_tiers storage_tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.storage_tiers
    ADD CONSTRAINT storage_tiers_pkey PRIMARY KEY (id);


--
-- Name: quotes_ratecard unique_ratecard_route; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_ratecard
    ADD CONSTRAINT unique_ratecard_route UNIQUE (origin, destination);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (code);


--
-- Name: accounts_customuser_groups_customuser_id_bc55088e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_customuser_groups_customuser_id_bc55088e ON public.accounts_customuser_groups USING btree (customuser_id);


--
-- Name: accounts_customuser_groups_group_id_86ba5f9e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_customuser_groups_group_id_86ba5f9e ON public.accounts_customuser_groups USING btree (group_id);


--
-- Name: accounts_customuser_user_permissions_customuser_id_0deaefae; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_customuser_user_permissions_customuser_id_0deaefae ON public.accounts_customuser_user_permissions USING btree (customuser_id);


--
-- Name: accounts_customuser_user_permissions_permission_id_aea3d0e5; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_customuser_user_permissions_permission_id_aea3d0e5 ON public.accounts_customuser_user_permissions USING btree (permission_id);


--
-- Name: accounts_customuser_username_722f3555_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_customuser_username_722f3555_like ON public.accounts_customuser USING btree (username varchar_pattern_ops);


--
-- Name: accounts_organizationmembership_organization_id_c57f0637; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_organizationmembership_organization_id_c57f0637 ON public.accounts_organizationmembership USING btree (organization_id);


--
-- Name: accounts_organizationmembership_user_id_8cbb5f64; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accounts_organizationmembership_user_id_8cbb5f64 ON public.accounts_organizationmembership USING btree (user_id);


--
-- Name: audiences_code_9b187cc1_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audiences_code_9b187cc1_like ON public.audiences USING btree (code varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: currency_rates_unique_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX currency_rates_unique_idx ON public.currency_rates USING btree (as_of_ts, base_ccy, quote_ccy, rate_type);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: idx_lanes_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lanes_lookup ON public.lanes USING btree (ratecard_id, origin_id, dest_id, COALESCE(via_id, (0)::bigint), COALESCE(airline, ''::text));


--
-- Name: idx_ratecard_destination; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecard_destination ON public.quotes_ratecard USING btree (destination);


--
-- Name: idx_ratecard_fees_fee; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecard_fees_fee ON public.ratecard_fees USING btree (fee_type_id);


--
-- Name: idx_ratecard_fees_json; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecard_fees_json ON public.ratecard_fees USING gin (applies_if);


--
-- Name: idx_ratecard_fees_ratecard; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecard_fees_ratecard ON public.ratecard_fees USING btree (ratecard_id);


--
-- Name: idx_ratecard_origin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecard_origin ON public.quotes_ratecard USING btree (origin);


--
-- Name: idx_ratecards_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecards_lookup ON public.ratecards USING btree (role, scope, direction, currency, effective_date, COALESCE(expiry_date, '2999-12-31'::date));


--
-- Name: idx_ratecards_meta_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecards_meta_gin ON public.ratecards USING gin (meta);


--
-- Name: idx_ratecards_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ratecards_source ON public.ratecards USING btree (source);


--
-- Name: idx_service_items_conditions; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_service_items_conditions ON public.service_items USING gin (conditions_json);


--
-- Name: idx_service_items_ratecard; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_service_items_ratecard ON public.service_items USING btree (ratecard_id);


--
-- Name: idx_storage_tiers_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_storage_tiers_lookup ON public.storage_tiers USING btree (ratecard_id, group_code, week_from, week_to);


--
-- Name: quote_lines_quote_id_aa56ec07; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quote_lines_quote_id_aa56ec07 ON public.quote_lines USING btree (quote_id);


--
-- Name: quote_lines_v2_quote_id_6017d4a4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quote_lines_v2_quote_id_6017d4a4 ON public.quote_lines_v2 USING btree (quote_id);


--
-- Name: quotes_client_name_bbecdbfb_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quotes_client_name_bbecdbfb_like ON public.quotes_client USING btree (name varchar_pattern_ops);


--
-- Name: quotes_organization_id_64226bf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quotes_organization_id_64226bf9 ON public.quotes USING btree (organization_id);


--
-- Name: quotes_quote_client_id_e4755536; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quotes_quote_client_id_e4755536 ON public.quotes_quote USING btree (client_id);


--
-- Name: quotes_req_snapshot_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quotes_req_snapshot_gin ON public.quotes USING gin (request_snapshot jsonb_path_ops);


--
-- Name: quotes_shipmentpiece_quote_id_d726a87f; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quotes_shipmentpiece_quote_id_d726a87f ON public.quotes_shipmentpiece USING btree (quote_id);


--
-- Name: quotes_v2_organization_id_50952566; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX quotes_v2_organization_id_50952566 ON public.quotes_v2 USING btree (organization_id);


--
-- Name: ratecard_fees_applies_if_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ratecard_fees_applies_if_gin ON public.ratecard_fees USING gin (applies_if jsonb_path_ops);


--
-- Name: ratecards_active_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ratecards_active_idx ON public.ratecards USING btree (status) WHERE (status = 'ACTIVE'::text);


--
-- Name: ratecards_audience_id_c3f9821a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ratecards_audience_id_c3f9821a ON public.ratecards USING btree (audience_id);


--
-- Name: service_items_conditions_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX service_items_conditions_gin ON public.service_items USING gin (conditions_json jsonb_path_ops);


--
-- Name: ux_lanes_coalesced; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_lanes_coalesced ON public.lanes USING btree (ratecard_id, origin_id, dest_id, COALESCE(via_id, (0)::bigint), COALESCE(airline, ''::text));


--
-- Name: ratecards trg_audit_ratecards; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_audit_ratecards AFTER INSERT OR DELETE OR UPDATE ON public.ratecards FOR EACH ROW EXECUTE FUNCTION public.audit_ratecards_fn();


--
-- Name: accounts_customuser_user_permissions accounts_customuser__customuser_id_0deaefae_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser__customuser_id_0deaefae_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_groups accounts_customuser__customuser_id_bc55088e_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser__customuser_id_bc55088e_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_user_permissions accounts_customuser__permission_id_aea3d0e5_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser__permission_id_aea3d0e5_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_groups accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_organizationmembership accounts_organizatio_organization_id_c57f0637_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizatio_organization_id_c57f0637_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_organizationmembership accounts_organizatio_user_id_8cbb5f64_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts_organizationmembership
    ADD CONSTRAINT accounts_organizatio_user_id_8cbb5f64_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_accounts_customuser_id FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cartage_ladders cartage_ladders_ratecard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cartage_ladders
    ADD CONSTRAINT cartage_ladders_ratecard_id_fkey FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) ON DELETE CASCADE;


--
-- Name: contacts contacts_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_customuser_id FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organizations fk_orgs_audience; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT fk_orgs_audience FOREIGN KEY (audience_id) REFERENCES public.audiences(id);


--
-- Name: pricing_policy fk_policy_audience; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_policy
    ADD CONSTRAINT fk_policy_audience FOREIGN KEY (audience_id) REFERENCES public.audiences(id);


--
-- Name: quote_lines fk_quote_lines_currency; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_lines
    ADD CONSTRAINT fk_quote_lines_currency FOREIGN KEY (currency) REFERENCES public.currencies(code);


--
-- Name: quote_lines fk_quote_lines_unit; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_lines
    ADD CONSTRAINT fk_quote_lines_unit FOREIGN KEY (unit) REFERENCES public.units(code);


--
-- Name: quotes fk_quotes_currency; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT fk_quotes_currency FOREIGN KEY (currency) REFERENCES public.currencies(code);


--
-- Name: ratecard_fees fk_ratecard_fees_currency; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT fk_ratecard_fees_currency FOREIGN KEY (currency) REFERENCES public.currencies(code);


--
-- Name: service_items fk_service_items_currency; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT fk_service_items_currency FOREIGN KEY (currency) REFERENCES public.currencies(code);


--
-- Name: lane_breaks lane_breaks_lane_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lane_breaks
    ADD CONSTRAINT lane_breaks_lane_id_fkey FOREIGN KEY (lane_id) REFERENCES public.lanes(id) ON DELETE CASCADE;


--
-- Name: lanes lanes_dest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_dest_id_fkey FOREIGN KEY (dest_id) REFERENCES public.stations(id) ON DELETE RESTRICT;


--
-- Name: lanes lanes_origin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_origin_id_fkey FOREIGN KEY (origin_id) REFERENCES public.stations(id) ON DELETE RESTRICT;


--
-- Name: lanes lanes_ratecard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_ratecard_id_fkey FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) ON DELETE CASCADE;


--
-- Name: lanes lanes_via_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lanes
    ADD CONSTRAINT lanes_via_id_fkey FOREIGN KEY (via_id) REFERENCES public.stations(id) ON DELETE RESTRICT;


--
-- Name: quote_lines quote_lines_quote_id_aa56ec07_fk_quotes_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_lines
    ADD CONSTRAINT quote_lines_quote_id_aa56ec07_fk_quotes_id FOREIGN KEY (quote_id) REFERENCES public.quotes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quote_lines_v2 quote_lines_v2_quote_id_6017d4a4_fk_quotes_v2_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quote_lines_v2
    ADD CONSTRAINT quote_lines_v2_quote_id_6017d4a4_fk_quotes_v2_id FOREIGN KEY (quote_id) REFERENCES public.quotes_v2(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quotes quotes_organization_id_64226bf9_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_organization_id_64226bf9_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quotes_quote quotes_quote_client_id_e4755536_fk_quotes_client_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_quote
    ADD CONSTRAINT quotes_quote_client_id_e4755536_fk_quotes_client_id FOREIGN KEY (client_id) REFERENCES public.quotes_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quotes_shipmentpiece quotes_shipmentpiece_quote_id_d726a87f_fk_quotes_quote_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_shipmentpiece
    ADD CONSTRAINT quotes_shipmentpiece_quote_id_d726a87f_fk_quotes_quote_id FOREIGN KEY (quote_id) REFERENCES public.quotes_quote(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quotes_v2 quotes_v2_organization_id_50952566_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quotes_v2
    ADD CONSTRAINT quotes_v2_organization_id_50952566_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecard_config ratecard_config_ratecard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_config
    ADD CONSTRAINT ratecard_config_ratecard_id_fkey FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) ON DELETE CASCADE;


--
-- Name: ratecard_fees ratecard_fees_fee_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT ratecard_fees_fee_type_id_fkey FOREIGN KEY (fee_type_id) REFERENCES public.fee_types(id) ON DELETE RESTRICT;


--
-- Name: ratecard_fees ratecard_fees_ratecard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecard_fees
    ADD CONSTRAINT ratecard_fees_ratecard_id_fkey FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) ON DELETE CASCADE;


--
-- Name: ratecards ratecards_audience_id_c3f9821a_fk_audiences_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_audience_id_c3f9821a_fk_audiences_id FOREIGN KEY (audience_id) REFERENCES public.audiences(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ratecards ratecards_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratecards
    ADD CONSTRAINT ratecards_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.providers(id) ON DELETE RESTRICT;


--
-- Name: route_legs route_legs_dest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_dest_id_fkey FOREIGN KEY (dest_id) REFERENCES public.stations(id);


--
-- Name: route_legs route_legs_origin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_origin_id_fkey FOREIGN KEY (origin_id) REFERENCES public.stations(id);


--
-- Name: route_legs route_legs_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.route_legs
    ADD CONSTRAINT route_legs_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- Name: sell_cost_links_simple sell_cost_links_simple_buy_fee_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sell_cost_links_simple
    ADD CONSTRAINT sell_cost_links_simple_buy_fee_code_fkey FOREIGN KEY (buy_fee_code) REFERENCES public.fee_types(code) ON DELETE RESTRICT;


--
-- Name: sell_cost_links_simple sell_cost_links_simple_sell_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sell_cost_links_simple
    ADD CONSTRAINT sell_cost_links_simple_sell_item_id_fkey FOREIGN KEY (sell_item_id) REFERENCES public.service_items(id) ON DELETE CASCADE;


--
-- Name: service_items service_items_ratecard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT service_items_ratecard_id_fkey FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) ON DELETE CASCADE;


--
-- Name: service_items service_items_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.service_items
    ADD CONSTRAINT service_items_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE RESTRICT;


--
-- Name: sites sites_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: storage_tiers storage_tiers_ratecard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.storage_tiers
    ADD CONSTRAINT storage_tiers_ratecard_id_fkey FOREIGN KEY (ratecard_id) REFERENCES public.ratecards(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict CQw4vVdLXmHhkDUUHF6VTCBQ5fcQhVA9bKuI3wx92i7QWyXWGhPugf0OUUsKFFI

